.container {
    width: 250px;
    height: 150px;
}
.container h1 {
    text-align: center;
}

.hijo {
    display: flex;
    flex-direction: column;
}
.hijo input{
    border-radius: 10px;
    height: 25px;
    margin-bottom: 5px;
}
.hijo textarea{
    border-radius: 10px;
    margin-bottom: 5px;
}
.hijo button {
    display: inline-block;
    width: auto;
    padding: 8px;
    border: 1px solid #61a5c2;
    background-color: #61a5c2;
    border-radius: 10px;
    margin-bottom: 5px;
}
.hijo button:hover {
    background-color: #89c2d9;
    cursor: pointer;
}
.hijo label {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.a-btn {
    min-width: 100px;
    min-height: 10px;
    margin: 2px;
    padding: 10px 10px;
    color: black;
    background-color: rgb(33, 175, 241);
    border-radius: 10px;
    text-decoration: none;
    display: block;
}
.a-btn-regresar {
    margin: 2px;
    text-decoration: none;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 12px;
}
.titulo-h1 {
    white-space: nowrap;
}
textarea {
    resize: none;
    height: 100px;
}